.slider-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.slider-content {
  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease;
}

.slide {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  background-color: #4a90e2;
}

.slider-track {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2.4px;
  height: 80%;
  background: linear-gradient(90deg, #3639FF 13.51%, rgba(108, 85, 255, 0.00) 89.18%, rgba(99, 101, 255, 0.00) 89.18%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 3px;
}

.slider-handle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background-color: #3639FF;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
